body {
    font-family: Times; /* Семейство шрифтов */
    font-size: 12pt; /* Размер основного шрифта в пунктах  */
    background-color: #e0e0e0; /* Цвет фона веб-страницы */
    color: black; /* Цвет основного текста */
}

h1 {
    color: #a52a2a; /* Цвет заголовка */
    font-size: 24pt; /* Размер шрифта в пунктах */
    font-family: Times; /* Семейство шрифтов */
    font-weight: normal; /* Нормальное начертание текста  */
}

p {
    text-align: justify; /* Выравнивание по ширине */
    margin-left: 60px; /* Отступ слева в пикселах */
    margin-right: 10px; /* Отступ справа в пикселах */
    border-left: 1px solid #999; /* Параметры линии слева */
    border-bottom: 1px solid #999; /* Параметры линии снизу */
    padding-left: 10px; /* Отступ от линии слева до текста  */
    padding-bottom: 10px; /* Отступ от линии снизу до текста  */
}

button {
    width: 250px;
    height: 25px
}

img {
    width = "50%";
    align: "middle";
}

ul {
    padding: 0; /* Убираем поля */
    margin-left: 120px; /* Отступ слева */
}

ol {
    padding: 0; /* Убираем поля */
    margin-left: 100px; /* Отступ слева */
}
